<p><b>To</b>: <i><%= @to %></i></p>
<p><b>From</b>: <i><%= @from %></i></p>
<p><b>First Name</b>: <i><%= @first_name %></i></p>
<p><b>Last Name</b>: <i><%= @last_name %></i></p>
<p><b>Phone Number</b>: <i><%= @phone_number %></i></p>
<hr />
<hr />
<p><b>Message</b>:<br />
<i><%= @message %></i></p>