Congratulations! You have successfully subscribed to a BibleVerses.net reading plan!
<br />
Every <%= @days.join(', ') %> on 11:00 Between <%= @date_from %> - <%= @date_to %>
<br />
You will receive scheduled content on specified mail: <%= @email %>
<br />
<br />

If you want to cancel reading plan, or you think that you received this mail by mistake, please follow <a href = <%= Rails.application.config.base_url + "/unsubscribe/reading_plan/" + @token %>>this link</a> to cancel reading plan