<% current_book = nil %>
<% verse_index = 0 %>
<% @verses.each_with_index do |verse, index| %>
  <% if current_book != verse.book_id %>
    <% verse_index = 0 %>
    <% current_book = verse.book_id %>
    <h1><%= Book.find(current_book).full_name %></h1>
  <% end %>
  <% verse_index += 1 %>
  <%= verse_index %>. <%= verse.text %> <br />
<% end %>
<br />
<br />
If you want to cancel reading plan, or you think that you received this mail by mistake, please follow <a href = <%= Rails.application.config.base_url + "/unsubscribe/reading_plan/" + @token %>>this link</a> to cancel reading plan