

Congratulations! You have successfully subscribed to a BibleVerses.net reading plan!
<br />
Every day on 11:00 you will receive daily verse on specified mail:<%= @email %>
<br />
<br />

If you want to cancel subscription, or you think that you received this mail by mistake, please follow <a href = <%= Rails.application.config.base_url + "/unsubscribe/subscription/" + @token %>>this link</a> to cancel subscription
<div class="image-wrapper">
  <img src="https://bibleverses.net/assets/img/logo.png" alt="BibleVerses.net Logo">
</div>