<%= DateTime.now.strftime("%a, %d %B %Y") %>
<h2><%= @verse.text %></h2>
<br />
<br />
If you want to cancel subscription, or you think that you received this mail by mistake, please follow <a href = <%= Rails.application.config.base_url + "/unsubscribe/subscription/" + @token %>>this link</a> to cancel subscription