<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */

      .image-wrapper {
        display: flex;
        justify-content: center;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
